version = ignore
version-check = false
profile = default
margin = 80
parse-docstrings = true
comment-check = true
wrap-comments = true
let-binding-spacing = compact
field-space = loose
break-cases = all
break-infix = wrap-or-vertical
break-separators = after
break-sequences = true
cases-exp-indent = 2
cases-matching-exp-indent = normal
dock-collection-brackets = true
exp-grouping = preserve
if-then-else = compact
indicate-nested-or-patterns = unsafe-no
indicate-multiline-delimiters = space
infix-precedence = indent
leading-nested-match-parens = true
let-binding-indent = 2
module-item-spacing = preserve
nested-match = wrap
parens-tuple = always
parens-tuple-patterns = always
single-case = compact
type-decl = sparse
wrap-fun-args = true
