version = ignore
version-check = false
profile = default
margin = 120
parse-docstrings = true
comment-check = true
wrap-comments = true
let-binding-spacing = sparse
field-space = loose
break-cases = fit-or-vertical
break-infix = fit-or-vertical
break-separators = before
break-sequences = false
cases-exp-indent = 4
cases-matching-exp-indent = normal
dock-collection-brackets = true
exp-grouping = preserve
if-then-else = fit-or-vertical
indicate-nested-or-patterns = unsafe-no
indicate-multiline-delimiters = space
infix-precedence = indent
leading-nested-match-parens = true
let-binding-indent = 2
module-item-spacing = sparse
nested-match = wrap
parens-tuple = always
parens-tuple-patterns = always
single-case = sparse
type-decl = sparse
wrap-fun-args = false
