name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup OCaml & opam
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: "4.14.0"
          cache: true
          dune-cache: true

      - name: install dependencies
        run: |
          eval "$(opam env)"
          opam update
          opam install --yes dune ocamlformat alcotest zarith qcheck qcheck-alcotest 

      - name: Check formatting lab1
        working-directory: lab1/ocaml
        run: |
          eval "$(opam env)"
          ocamlformat --version
          git ls-files '*.ml' '*.mli' | xargs -r ocamlformat --enable-outside-detected-project --check

      - name: build lab1
        working-directory: lab1/ocaml
        run: |
          eval "$(opam env)"
          dune build --profile dev

      - name: test lab1
        working-directory: lab1/ocaml
        run: |
          eval "$(opam env)"
          dune runtest --no-buffer

      - name: Check formatting lab2
        working-directory: lab2
        run: |
          eval "$(opam env)"
          ocamlformat --version
          git ls-files '*.ml' '*.mli' | xargs -r ocamlformat --enable-outside-detected-project --check

      - name: build lab2
        working-directory: lab2
        run: |
          eval "$(opam env)"
          dune build --profile dev

      - name: test lab2
        working-directory: lab2
        run: |
          eval "$(opam env)"
          dune runtest --no-buffer

      - name: Check formatting lab3
        working-directory: lab3
        run: |
          eval "$(opam env)"
          ocamlformat --version
          git ls-files '*.ml' '*.mli' | xargs -r ocamlformat --enable-outside-detected-project --check

      - name: build lab3
        working-directory: lab3
        run: |
          eval "$(opam env)"
          dune build --profile dev

      - name: test lab3
        working-directory: lab3
        run: |
          eval "$(opam env)"
          dune runtest --no-buffer
    